.loader {
  display: flex;
  justify-content: center;
  min-height: 20vh;
}

h3 {
  text-align: center;
}

@media (max-width: 768px) {
  .splide__slide {
    margin-right: 15px !important;
    width: 15rem !important;
  }
}
